= link_to t(:lookup), quotes_path, class: :quote_lookup
%table
  %thead
    %tr
      - %w(ticker name value).each do |field|
        %th= t ".#{field}"
      - if admin?
        %th{colspan: 2}
  %tbody
    - @quotes.each do |quote|
      %tr
        %td= link_to quote.name, quote
        %td= quote.ticker
        %td.quote
        - if admin?
          %td= link_to t(:edit), edit_quote_path(quote)
          %td= link_to t(:destroy), quote, confirm: t(:confirm), method: :delete
