<p><%=t ".ask" %></p>
<ul>
  <% %w{boss_last_name dog_name father_hometown mother_maiden_name}.each do |question| %>
    <li><%=t ".#{question}" %></li>
  <% end %>
</ul>
<%= form_tag(verify_friend_path, :method => "post") do %>
  <%= text_field_tag :answer %>
  <%= submit_tag %>
<% end %>
