%h3= link_to source.name, source, :"data-pjax" => "#page"
%h4= t(".metrics")
%table
  %thead
    %tr
      - %w(name regex).each do |field|
        %th= t ".#{field}"
  %tbody
    - source.metrics.each do |metric|
      %tr
        %td= link_to metric.name, metric
        %td= metric.regex
%h4= t(".quotes")
= link_to t(:lookup), sources_path, class: :quote_lookup
%table
  %thead
    %tr
      - %w(name ticker value).each do |field|
        %th= t ".#{field}"
  %tbody
    - source.quotes.each do |quote|
      %tr
        %td= link_to quote.name, quote
        %td= quote.ticker
        %td.quote
