= link_to t(:new), new_source_path
%table
  %thead
    %tr
      - %w(name url).each do |field|
        %th= t ".#{field}"
  %tbody
    - @sources.each do |source|
      %tr
        %td= link_to source.name, source, :"data-pjax" => "#page"
        %td= source.url
