<article class="indent-<%= indent %>">
  <header>
    <%= gravatar_image_tag comment.email, :gravatar => { :alt => comment.name, :default => :identicon, :size => 32 }, :class => "right" %>
    <%= content_tag :h4, link_to_if(admin?, comment.local_name, "mailto:#{comment.email}"), :id => "comment_#{comment.id}" %>
    <p><%= time_tag comment.created_at %></p>
    <% if admin? %>
      <p>
        <%= link_to t(:edit), edit_comment_path(comment) %> |
        <%= link_to t(:destroy), comment, :confirm => t(:confirm), :method => :delete %>
      </p>
    <% end %>
  </header>
  <%= render_content(comment, true) %>
  <footer><%= link_to t(".reply_to_this"), "#reply", :class => "reply", :"data-id" => comment.id, :"data-name" => comment.name %></footer>
</article>
