<%
  edit_date ||= false
  @comment ||= Comment.new
  @post ||= @comment.post
%>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field inline">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field inline">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <% if edit_date %>
  <div class="field inline">
    <%= f.label :created_at %>
    <%= f.text_field :created_at %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
