- edit_everything ||= false
- @comment ||= Comment.new
- @post ||= @comment.post
= form_for(@comment) do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2 #{pluralize @comment.errors.count, "error"} prohibited this comment from being saved:
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  #reply_to.notice
    = raw t(".replying_to", :name => link_to("", "#", :id => "reply_name"))
    = raw t(:brackets, :content => link_to(t(:clear), "#", :id => "clear_reply_to"))
  .form-group
    = f.label :name
    = f.text_field :name, value: @comment.name || session[:name], class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, value: @comment.email || session[:email], class: 'form-control'
  - if edit_everything
    .form-group
      = f.label :parent_id
      = f.text_field :parent_id, class: 'form-control'
    .form-group
      = f.label :created_at
      = f.text_field :created_at, class: 'form-control'
  .form-group
    = f.label :content
    %br
    = f.text_area :content, 'data-provide' => 'markdown'
  = recaptcha_tags
  = f.hidden_field :post_id, :value => @post.id
  = f.hidden_field(:parent_id, :value => nil) unless edit_everything
  .actions
    = f.submit class: 'btn btn-default btn-lg'
