<table>
  <tr>
    <th><%=t ".name" %></th>
    <th><%=t ".email" %></th>
    <th><%=t ".content" %></th>
    <th><%=t ".post" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.email %></td>
    <td><%= comment.content %></td>
    <td><%= link_to comment.post.title, comment.post %></td>
    <td><%= link_to t(:show), comment %></td>
    <td><%= link_to t(:edit), edit_comment_path(comment) %></td>
    <td><%= link_to t(:destroy), comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
