<table>
  <tr>
    <% %w{name email content post created_at}.each do |field| %>
      <th><%=t ".#{field}" %></th>
    <% end %>
    <th colspan="3"></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.email %></td>
    <td><%= truncate comment.content, :length => 50, :separator => ' ' %></td>
    <td><%= link_to comment.post.title, comment.post %></td>
    <td><%=l comment.created_at %></td>
    <td><%= link_to t(:edit), edit_comment_path(comment) %></td>
    <td><%= link_to t(:destroy), comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
