<table>
  <tr>
    <% %w{id name email content post parent_id lft rgt created_at}.each do |field| %>
      <th><%=t ".#{field}" %></th>
    <% end %>
    <th colspan="2"></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.id %></td>
    <td><%= comment.local_name %></td>
    <td><%= comment.email %></td>
    <td><%= truncate comment.local_content, :length => 50, :separator => ' ' %></td>
    <td><%= link_to comment.post.local_title, comment.post %></td>
    <td><%= comment.parent_id %></td>
    <td><%= comment.lft %></td>
    <td><%= comment.rgt %></td>
    <td><%=l comment.created_at %></td>
    <td><%= link_to t(:edit), edit_comment_path(comment) %></td>
    <td><%= link_to t(:destroy), comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
