%h3= link_to portfolio.name, portfolio, :"data-pjax" => "#page"
%table
  %thead
    %tr
      - %w(name ticker value).each do |field|
        %th= t ".#{field}"
      - if admin?
        %th{colspan: 2}
  %tbody
    - portfolio.quotes.each do |quote|
      %tr.quote
        %td= link_to quote.name, quote, class: "link"
        %td= quote.ticker
        %td.lookup
        - if admin?
          %td= link_to t(:edit), edit_portfolio_path(portfolio)
          %td= link_to t(:destroy), portfolio, confirm: t(:confirm), method: :delete
