= form_for(@metric) do |f|
  - if @metric.errors.any?
    #error_explanation
      %h2 #{pluralize @metric.errors.count, "error"} prohibited this metric from being saved:
      %ul
        - @metric.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, class: "span-3"
    = f.text_field :name
  .field
    = f.label :regex, class: "span-3"
    = f.text_field :regex
  .actions.clear
    = f.submit
