<div class="span-15">
<h2><%=t :resume %></h2>
<ul>
  <li><%= link_to "English", "/documents/Resume (Bryan McKelvey) (E).pdf" %></li>
  <li><%= link_to "日本語",  "/documents/Resume (Bryan McKelvey) (J).pdf" %></li>
</ul>
</div>
<div class="last">
<h2><%=t :universities %></h2>
<%= link_to image_tag("/images/todai.png", { :alt => t(:todai), :size => "185x48"}), "http://www.u-tokyo.ac.jp" %>
<br>
<%= link_to image_tag("/images/carolina.png", { :alt => t(:carolina), :size => "175x48"}), "http://www.unc.edu" %>
</div>
