= form_for(@subscriber) do |f|
  - if @subscriber.errors.any?
    #error_explanation
      %h2 #{pluralize @subscriber.errors.count, "error"} prohibited this subscriber from being saved:
      %ul
        - @subscriber.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, class: "span-3"
    = f.text_field :name, autofocus: true
  .field
    = f.label :email, class: "span-3"
    = f.email_field :email
  .actions.clear
    = f.submit
