= link_to_unless Subscriber.env == "production", t(:production), environment_subscribers_path(env: :production)
|
= link_to_unless Subscriber.env == "test",       t(:test),       environment_subscribers_path(env: :test)
%table
  %thead
    %tr
      - %w(name email status wants_email? test?).each do |field|
        %th= t(".#{field}")
      %th{colspan: 3}
  %tbody
    - logger.info "#{Subscriber.methods.grep /path/}"
    - @subscribers.each do |subscriber|
      %tr
        %td= link_to subscriber.name, subscriber
        %td= mail_to subscriber.email
        %td= t(".#{subscriber.status}")
        %td= subscriber.wants_email?
        %td= subscriber.test?
        - if admin?
          %td= subscriber_action_tag subscriber
          %td= link_to t(:edit), edit_subscriber_path(subscriber)
          %td= link_to t(:destroy), subscriber, confirm: t(:confirm), method: :delete
