%table
  %thead
    %tr
      - %w(name email approved? active? unsubscribed? wants_email? test?).each do |field|
        %th= t(".#{field}")
  %tbody
    - @subscribers.each do |subscriber|
      %tr
        %td= subscriber.name
        %td= subscriber.email
        %td= subscriber.approved?
        %td= subscriber.active?
        %td= subscriber.unsubscribed?
        %td= subscriber.wants_email?
        %td= subscriber.test?
