= link_to t(:edit), edit_subscriber_path(@subscriber)
%h3= @subscriber.name
= mail_to @subscriber.email, nil, encode: "javascript"
%p
  - if @subscriber.active?
    = link_to t(".deactivate"), deactivate_subscriber_path(@subscriber)
  - else
    = link_to t(".activate"), activate_subscriber_path(@subscriber)
  |
  = link_to t(".unsubscribe"), unsubscribe_path(@subscriber, hash: @subscriber.hash)
