<% edit_date ||= false %>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field inline">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.check_box :personal %>
    <%= f.label :personal %>
  </div>
  <% if edit_date %>
    <div class="field inline">
      <%= f.label :created_at %>
      <%= f.text_field :created_at %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => "span-20" %>
  </div>
  <div class="actions clear">
    <%= f.submit %>
  </div>
<% end %>
