- edit_date ||= false
.col-md-12
= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2 #{pluralize @post.errors.count, "error"} prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :slug
    = f.text_field :slug, class: 'form-control'
  - if edit_date
    .form-group
      = f.label :created_at
      = f.text_field :created_at, class: 'form-control'
  .form-group
    = f.label :content
    = f.text_area :content, 'data-provide' => 'markdown'
  = f.label :personal
  = f.check_box :personal
  .actions.clear
    = f.submit class: 'btn btn-default btn-lg'
