- edit_date ||= false
= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2 #{pluralize @post.errors.count, "error"} prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field.inline
    = f.label :title
    = f.text_field :title, class: "preview_source"
    = f.check_box :personal
    = f.label :personal
  .field.inline
    = f.label :slug
    = f.text_field :slug
  - if edit_date
    .field.inline
      = f.label :created_at
      = f.text_field :created_at
  .field
    = f.label :content
    %br
    = f.text_area :content, class: "span-20 preview_source"
  .field.inline.clear
    = f.label :tags
    %br
    = f.text_field :tags, value: @post.tags.collect { |tag| tag.name_en }.join(", ")
  .actions.clear
    = f.submit
    %input.preview_button{type: :button, value: t(".preview")}
%hr
.preview
  %h3= t ".preview"
  .content
