<article>
  <header>
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.author %></p>
    <p><%= time_tag post.created_at %></p>
    <%= content_tag :p, link_to(t(:edit), edit_post_path(post)) if admin? %>
  </header>
  <%= render_content post %>
  <% if defined?(show_comments) %>
    <aside>
      <h3><a name="comments"><%=t "layouts.sidebar.comments" %></a></h3>
      <%= render_comments(post.comments) %>
    </aside>
    <aside>
      <%= content_tag :h3, link_to(t(".reply"), nil, :name => "hi") %>
      <%= render :partial => "comments/form" %>
    </aside>
  <% else %>
    <footer><%= link_to t(".comments", :count => post.comments.count), post_path(post, :anchor => "comments") %></footer>
  <% end %>
</article>
