<table>
  <tr>
    <% %w{id title personal comments created_at updated_at}.each do |field| %>
      <th><%=t ".#{field}" %></th>
    <% end %>
    <th colspan="2"></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.id %></td>
    <td><%= link_to post.local_title, post %></td>
    <td><%= post.personal %></td>
    <td><%= link_to post.comments.count, post_path(post, :anchor => :comments) %></td>
    <td><%=l post.created_at %></td>
    <td><%=l post.updated_at %></td>
    <td><%= link_to t(:edit), edit_post_path(post) %></td>
    <td><%= link_to t(:destroy), post, :confirm => t(:confirm), :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to t(:new), new_post_path %>
