<table>
  <tr>
    <% %w{title author created_at updated_at}.each do |field| %>
      <th><%=t ".#{field}" %></th>
    <% end %>
    <th colspan="2"></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= link_to post.author, post.user %></td>
    <td><%=l post.created_at, :format => :long %></td>
    <td><%=l post.updated_at, :format => :long %></td>
    <td><%= link_to t(:edit), edit_post_path(post) %></td>
    <td><%= link_to t(:destroy), post, :confirm => t(:confirm), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new), new_post_path %>
