<div class="span-18 colborder">
  <%= render :partial => "post", :locals => { :post => @post } %>
  <%= link_to t(:edit), edit_post_path(@post) %> |
  <%= link_to t(:back), posts_path %>
</div>
<div class="archive">
  <h2><%=t :archive %></h2>
  <%= render :partial => "archive" %>
</div>
