%p Original post: <a href="#{opts[:post_link]}">#{opts[:post_link]}</a>
%p Hey y'all,
!= opts[:content]
%p Cheers,
%p Bryan
%div{style: "color:#888"}
  %p
    ___________________________________
    %br
    You received this message as a member of Bryan's Japan updates listserv.
    %br
    To unsubscribe, go to <a href="#{opts[:unsubscribe_link]}">#{opts[:unsubscribe_link]}</a>.
    %br
    To prevent emails from being classified as spam, add <a href="mailto:listserv@brymck.herokuapp.com">listserv@brymck.herokuapp.com</a> to your contact list. If you can't see any pictures, in most email clients there's an option at the top of the message to display them.
