<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <p>
      <%= @session['name'] %> logged in as <%= @session['admin'] ? "an administrator" : "a regular user" %>
      using <%= @session['provider'].titlecase %> from <%= @request.remote_ip %>.
    </p>
    <p><%= debug @auth %></p>
  </body>
</html>
