%article
  %header
    %h2= link_to code.title, code
    %section.links
      = link_to t(".download"), code.download if code.download?
      = "|" if code.source? && code.download?
      = link_to t(".source"), code.source if code.source?
    %section.languages
      = t(".languages") + t(:colon)
      %ul.horizontal.inline.comma-separated
        - code.languages.each do |language|
          %li= link_to language.name, language
    - if admin?
      %p
        = link_to t(:edit), edit_code_path(code)
        = link_to t(:destroy), code, :confirm => t(:confirm), :method => :delete
  ~ textile code.description, :safe => true
