<article>
  <header>
    <%= content_tag :h2, link_to(code.title, code) %>
    <section class="links">
      <%= link_to t(".download"), code.download if code.download?%>
      <%= "|" if code.source? && code.download? %>
      <%= link_to t(".source"), code.source if code.source? %>
    </section>
    <section class="languages">
      <%=t ".languages" %><%=t :colon %>
      <ul class="horizontal inline comma-separated">
        <% code.languages.each do |language| %>
          <%= content_tag :li, link_to(language.name, language) %>
        <% end %>
      </ul>
    </section>
    <% if admin? %>
      <p>
        <%= link_to t(:edit), edit_code_path(code) %> | 
        <%= link_to t(:destroy), code, :confirm => t(:confirm), :method => :delete %>
      </p>
    <% end %>
  </header>
  <%=raw RedCloth.new(code.description).to_html %>
</article>
