= form_for(@code) do |f|
  - if @code.errors.any?
    #error_explanation
      %h2 #{pluralize @code.errors.count, "error"} prohibited this code from being saved:
      %ul
        - @code.errors.full_messages.each do |msg|
          %li= msg
  - %w{title importance download source}.each do |field|
    .field
      = f.label field.to_sym
      %br
      = f.text_field field.to_sym
  .field
    = f.label :description
    %br
    = f.text_area :description
  - Language.find(:all).each do |language|
    %div
      = check_box_tag "code[language_ids][]", language.id, @code.languages.include?(language)
      = language.name
  .actions
    = f.submit
