= form_for(@code) do |f|
  - if @code.errors.any?
    #error_explanation
      %h2 #{pluralize @code.errors.count, "error"} prohibited this code from being saved:
      %ul
        - @code.errors.full_messages.each do |msg|
          %li= msg
  - %w{title importance download source}.each do |field|
    .form-group
      = f.label field.to_sym
      = f.text_field field.to_sym, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, 'data-provide' => 'markdown'
  - Language.find(:all).each do |language|
    %div
      = check_box_tag "code[language_ids][]", language.id, @code.languages.include?(language)
      = language.name
  .actions
    = f.submit class: 'btn btn-default btn-lg'
