<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @code.title %>
</p>

<p>
  <b>Description:</b>
  <%= @code.description %>
</p>

<p>
  <b>Url:</b>
  <%= @code.url %>
</p>

<%= link_to t(:edit), edit_code_path(@code) %> |
<%= link_to t(:back), code_index_path %>
