= form_for(@apartment) do |f|
  - if @apartment.errors.any?
    #error_explanation
      %h2 #{pluralize @apartment.errors.count, "error"} prohibited this apartment from being saved:
      %ul
        - @apartment.errors.full_messages.each do |msg|
          %li= msg

  .field.left
    = f.label      :prefecture,  class: "span-2"
    = f.text_field :prefecture,  class: "span-3"
  .field.left.prepend-1
    = f.label      :city,        class: "span-2"
    = f.text_field :city,        class: "span-3"
  .field.clear.left
    = f.label      :ward,        class: "span-2"
    = f.text_field :ward,        class: "span-3", autofocus: true
  .field.left.prepend-1
    = f.label      :town,        class: "span-2"
    = f.text_field :town,        class: "span-3"
  .field.left.prepend-1
    = f.text_field :district,    size: 1
    \-
    = f.text_field :block,       size: 1
    \-
    = f.text_field :house,       size: 1
    \-
    = f.text_field :room_number, size: 1
  .field.clear
    = f.select     :neighborhood_id, Neighborhood.all_by_rating.map { |n| [n.name, n.id] },
      selected: @apartment.neighborhood.nil? ? params[:neighborhood_id] : @apartment.neighborhood.id

  %hr
  .field
    = f.label      :url,               class: "span-4"
    = f.url_field  :url
  .field
    = f.label      :rent,              class: "span-4"
    = f.text_field :rent
  .field
    = f.label      :management_fee,    class: "span-4"
    = f.text_field :management_fee
  .field
    = f.label      :key_money_months,  class: "span-4"
    = f.text_field :key_money_months
  .field
    = f.label      :living_area,       class: "span-4"
    = f.text_field :living_area
  .field
    = f.label      :construction_date, class: "span-4"
    = f.text_field :construction_date
  %hr
  .field.left
    = f.label      :rooms,       class: "span-2"
    = f.text_field :rooms,       size:  1
  .field.left.prepend-1
    = f.check_box  :living_room
    = f.label      :living_room
  .field.left.prepend-1
    = f.check_box  :dining_room
    = f.label      :dining_room
  .field.left.prepend-1
    = f.check_box  :kitchen
    = f.label      :kitchen
  %hr
  .field
    = f.label :memo
    %br
    = f.text_area :memo

  .actions.clear
    = f.submit
