- show_neighborhoods ||= false
- neighborhood_id    ||= nil
= link_to t(:new), new_apartment_path(neighborhood_id: neighborhood_id)
%table
  %thead
    %tr
      %th= t ".name"
      - if show_neighborhoods
        %th= t ".neighborhood"
      - %w(address layout rent all_in_cost living_area memo).each do |field|
        %th= t ".#{field}"
      %th{colspan: admin? ? 2 : 1}
  %tbody
    - apartments.each do |apartment|
      %tr
        %td= link_to apartment.name, apartment
        - if show_neighborhoods
          %td= link_to apartment.neighborhood.name, apartment.neighborhood
        %td= link_to apartment.address, "http://maps.google.com/maps?q=#{apartment.address}", target: :_blank
        %td= apartment.layout
        %td= number_to_currency apartment.rent, unit: t(:yen), precision: 0
        %td= number_to_currency apartment.all_in_cost, unit: t(:yen), precision: 0
        %td= "#{apartment.living_area}m²"
        %td= truncate apartment.memo, :length => 50, :separator => ' '
        %td= link_to t(:edit), edit_apartment_path(apartment)
        - if admin?
          %td= link_to t(:destroy), apartment, confirm: t(:confirm), method: :delete
