- if admin?
  = link_to t(:edit), edit_apartment_path(@apartment)
%h2= @apartment.name
%p= @apartment.ticker
%h3= t(".sources")
%ul
  - @apartment.sources.each do |source|
    %li= link_to source.name, source
