.left= google_map @apartment
.push-1{:"data-pjax" => "#page"}
  %h2= @apartment.name
  %p= link_to @apartment.address(:long), "http://maps.google.com/maps?q=#{@apartment.address}", :"data-nopjax" => true
  %p= link_to nil, @apartment.url, target: "_blank", :"data-nopjax" => true
  %ul
    %li #{t(".neighborhood")}: #{link_to @apartment.neighborhood.name, @apartment.neighborhood, target: :_blank}
    %li #{t(".layout")}: #{@apartment.layout}
    %li #{t(".rent")}: #{number_to_currency @apartment.rent, unit: t(:yen), precision: 0}
    %li #{t(".management_fee")}: #{number_to_currency @apartment.management_fee || 0, unit: t(:yen), precision: 0}
    %li #{t(".key_money")}: #{number_to_currency @apartment.rent * @apartment.key_money_months, unit: t(:yen), precision: 0}
    %li #{t(".construction_date")}: #{@apartment.construction_date.to_date}
    %li #{t(".living_area")}: #{"#{@apartment.living_area}m²"}
  %p= link_to t(:edit), edit_apartment_path(@apartment)
  = textile @apartment.memo
