%hr
.field
  = f.label :opening
  = f.text_field :opening
.field
  = f.label :closing
  = f.text_field :closing
.field
  = f.label :time_zone
  = f.time_zone_select :time_zone
%ul.no-bullet
  - %w(sunday monday tuesday wednesday thursday friday saturday).each do |day|
    %li
      = f.check_box day
      = f.label day
