%nav
  #main_nav
    %ul#links.horizontal.left.delink-current{:"data-pjax" => "#page"}
      = nav_item   t(".home"),          home_path
      = nav_item   t(".code"),          code_index_path
      = nav_item   t(".contact"),       contact_path
      = nav_item   t(".resume"),        resume_path
      = nav_item   t(".journal"),       journal_path
      = nav_item   t(".subscribe"),     subscribe_path
      = nav_item   t(".market"),        market_path
      = nav_item   t(".neighborhoods"), neighborhoods_path
      - if logged_in?
        = nav_item t(".logout"),        logout_path, :"data-nopjax" => true
      - else
        = nav_item t(".login"),         login_path
    %ul#languages.horizontal.right
      = nav_item   t(".english",  :locale => :en), url_for(params.merge(:locale => "en")), lang: :en
      = nav_item   t(".japanese", :locale => :ja), url_for(params.merge(:locale => "ja")), lang: :ja
  - if admin?
    #admin.clear
      %ul.horizontal.delink-current{:"data-pjax" => "#page"}
        = nav_item t(".posts"),         posts_path
        = nav_item t(".comments"),      comments_path
        = nav_item t(".languages"),     languages_path
        = nav_item t(".locations"),     locations_path
        = nav_item t(".subscribers"),   subscribers_path
        = nav_item t(".tags"),          tags_path
  #breadcrumbs.clear{:"data-pjax" => "#page"}
    = breadcrumbs.render :format => :inline
