<nav>
  <ul class="horizontal left">
    <%= nav_item t(:home),  home_path  %>
    <%= nav_item t(:about), about_path %>
    <%= nav_item t(:blog),  posts_path %>
    <%= nav_item t(:code),  codes_path %>
    <% if admin? %>
      <%= nav_item t(:members), users_path %>
    <% end %>
    <% if logged_in? %>
      <%= nav_item t(:signout), signout_path %>
    <% else %>
      <%= nav_item t(:signin), signin_path %>
    <% end %>
  </ul>
  <ul class="horizontal right">
    <% debug request %>
    <% base_uri = current_page?(home_path) ? "" : request.fullpath.gsub(/^\/[a-z]{2}[\/$]/, '/') %>
    <%= nav_item "English", "/en#{base_uri}" %>
    <%= nav_item "日本語", "/ja#{base_uri}" %>
  </ul>
</nav>
