<nav>
  <ul class="horizontal left">
    <%= nav_item t(".home"),  home_path  %>
    <%= nav_item t(".about"), about_path %>
    <%= nav_item t(".code"),  code_index_path %>
    <%= nav_item t(".journal"),  journal_path %>
    <% if admin? %>
      <li class="border">&nbsp;</li>
      <%= nav_item t(".posts"),    posts_path %>
      <%= nav_item t(".comments"), comments_path %>
      <li class="border">&nbsp;</li>
    <% end %>
    <% if logged_in? %>
      <%= nav_item t(".logout"), logout_path %>
    <% else %>
      <%= nav_item t(".login"), login_path %>
    <% end %>
  </ul>
  <ul class="horizontal right">
    <%= nav_item t(".english",  :locale => :en), url_for(params.merge(:locale => "en")) %>
    <%= nav_item t(".japanese", :locale => :ja),  url_for(params.merge(:locale => "ja")) %>
  </ul>
  <hr>
  <section id="breadcrumbs" class="clear">
    <%= breadcrumbs.render(:format => :inline) %>
  </section>
</nav>
