<nav>
  <ul class="horizontal left">
    <%= nav_item :home,  home_path  %>
    <%= nav_item :about, about_path %>
    <%= nav_item :blog,  posts_path %>
    <%= nav_item :code,  codes_path %>
    <% if admin? %>
      <%= nav_item :members, users_path %>
    <% end %>
    <% if logged_in? %>
      <%= nav_item :signout, signout_path %>
    <% else %>
      <%= nav_item :signin, signin_path %>
    <% end %>
  </ul>
  <ul class="horizontal right">
    <% debug request %>
    <% base_uri = current_page?(home_path) ? "" : request.fullpath.gsub(/^\/[a-z]{2}[\/$]/, '/') %>
    <%= nav_item "English", "/en#{base_uri}" %>
    <%= nav_item "日本語", "/ja#{base_uri}" %>
  </ul>
</nav>
