!!! 5
%html
  = render :partial => "layouts/head"
  %body
    #header
      %h1= link_to highlighted_title, home_path
      %hr
      = render :partial => "layouts/sidebar"
    #main.container
      #page
        = render_flash flash
        = yield
        = yield :archive
    = render :partial => "layouts/footer"
    = javascript_include_tag :application
