<!DOCTYPE html>
<html>
  <%= render :partial => "layouts/head" %>
  <body>
    <div class="container">
      <%= render :partial => "layouts/header" %>
      <%= render :partial => "layouts/sidebar" %>
      <%= yield %>
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>
