<!DOCTYPE html>
<html>
  <%= render :partial => "layouts/head" %>
  <body>
    <div class="container">
      <h1><%=t :brymck %></h1>
      <hr>
      <%= render :partial => "layouts/sidebar" %>
      <hr>
      <%= content_tag(:h2, @title) if @title %>
      <%= render_flash(flash) %>
      <%= yield %>
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>
