<!DOCTYPE html>
<html>
  <%= render :partial => "layouts/head" %>
  <body>
    <%= render :partial => "layouts/header" %>
    <%= render :partial => "layouts/sidebar" %>
    <%= yield %>
    <%= render :partial => "layouts/footer" %>
  </body>
</html>
