!!! 5
%html
  = render :partial => "layouts/head"
  %body
    #main.container
      %h1
        = link_to t(:brymck), home_path
      %hr
      = render :partial => "layouts/sidebar"
      %hr
      #page
        = render_flash flash
        = yield
      = render :partial => "layouts/footer"
    = javascript_include_tag :application
